

h1 {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 5px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* dit houdt bij hoeveel coins de user heeft */
.coin {
    position: absolute;
    top: 10px;
    right: 200px;
    width: 40px;
    height: 40px;
    background-color: gold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.coin-label {
    position: absolute;
    top: 15px;
    right: 120px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Dit houdt bij welk level de user is */
.level-coin {
    position: absolute;
    top: 60px;
    right: 200px;
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.level-label {
    position: absolute;
    top: 65px;
    right: 120px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.wrappercolumn {
    display: flex;
    flex-direction: column;
}

.wrapperrow {
    display: flex;
    flex-direction: row;
}

/*alle kaders voor achievements*/
.Achievement {
    width: 200px;
    height: 200px;
    margin-left: 70px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    outline-color: white;
    outline-style: auto;
    background-color: rgba(255, 215, 0, 0.2);
}

    .Achievement label {
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
        color: white;
        margin: 3px;
    }

/*als achievement op true, dan is voltooid, text groen*/
.Achievement-waarde {
    width: 150px;
    height: 30px;
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: limegreen;
    outline-color: white;
    outline-style: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/*logo achievemen voor level*/
.achievement-item {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*logo achievemen voor minuten*/
.achievement-item-min {
    width: 100px;
    height: 70px;
    margin-top: 10px;
    background: linear-gradient(90deg, #3f51b5, #2196f3);
    border: 3px solid white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    transform: skewX(-10deg);
}

/*logo achievemen voor schema*/
.achievement-item-schema {
    width: 165px;
    height: 80px;
    margin-top: 10px;
    background: repeating-linear-gradient( 45deg, #607d8b, #607d8b 10px, #37474f 10px, #37474f 20px );
    border: 5px double #cfd8dc;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: gold;
    text-shadow: 20px 20px 20px rgba(0, 100, 200, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

/*logo achievemen voor games*/
.achievement-item-game {
    width: 95px;
    height: 85px;
    margin-top: 10px;
    background: conic-gradient(from 0deg, #ff5722, #e91e63, #9c27b0, #673ab7, #ff5722);
    border: 4px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2.2rem;
    color: #fff;
    box-shadow: 0 0 20px rgba(255, 87, 34, 0.6), inset 0 0 10px rgba(255, 255, 255, 0.3);
    animation: rotate 4s linear infinite;
}

/*als achievement op false dan text is rood*/
.incomplete {
    color: red;
}

/*toont percentage behaalde achievements*/
.percentagecomplete {
    position: absolute;
    top: 5px;
    left: 300px;
    width: 280px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
}

    .percentagecomplete label {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        color: gold;
    }

