@page "/costumes"

<head>
	<PageTitle> Costumes </PageTitle>

    <link href="Costumes.razor.css" rel="stylesheet" />
	<h1 class="h">Costumes</h1>
</head>


<div class="coin">$</div>
<div class="coin-label">1000</div>

<div class="level-coin">lvl</div>
<div class="level-label">10</div>



<body>
	<br />

	<ul> 
		<li> Dragon outfit</li>
		<li> Fire outfit </li>
		<li> Water outfit</li>
		<li> Earth outfit</li>
	</ul>


</body>

@code {

}
