@page "/Costumes"

<head>
	<PageTitle> Costumes </PageTitle>
</head>

<h1 class="h">Costumes</h1>

<body style="background-color:#ffcc99;">

	<div>
		<a href="https://localhost:7068/pets">
			Go to Pets
		</a>
	</div>

	<div>
		<a href="https://localhost:7068/">
			Go to Homepage
		</a>
	</div>

	<br />

	<ul> 
		<li> Dragon outfit</li>
		<li> Fire outfit </li>
		<li> Water outfit</li>
		<li> Earth outfit</li>
	</ul>


</body>

@code {
	
}
