@page "/Food"

<head>
	<PageTitle> Food </PageTitle>
	<h1 class="h">Food</h1>
</head>

<body style="background-color:#ffcc99;">
	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td, th {
			border: 1px solid Black;
			text-align: center;
		}

	</style>

	<div>
		<a href="https://localhost:7068/pets">
			Go to Pets
		</a>
	</div>

	<div>
		<a href="https://localhost:7068/">
			Go to Homepage
		</a>
	</div>

	<br />

	<table>
		<tr>
			<td>
				<img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f34c.png"
					 alt="banana"
					 width="100"
					 height="100">
			</td>

			<td>
				<img src="https://png.pngtree.com/png-vector/20231017/ourmid/pngtree-fresh-apple-fruit-red-png-image_10203073.png"
					 alt="apple"
					 width="100"
					 height="100">
			</td>

			<td>
				<img src="https://i.pinimg.com/originals/9b/b2/71/9bb2715bc8bfdb446f2b9f4a951440e6.png"
					 alt="strawberry"
					 width="100"
					 height="100">
			</td>

			<td>
				<img src="https://png.pngtree.com/png-clipart/20231001/original/pngtree-fruit-fresh-tomato-png-image_13024999.png"
					 alt="tomato"
					 width="100"
					 height="100">
			</td>

		</tr>

		<tr>
			<td >
				10
				<img src="https://cdn-icons-png.flaticon.com/512/1140/1140214.png"
					 alt="coins"
					 width="30"
					 height="30">
			</td>

			<td>
				10 
				<img src="https://cdn-icons-png.flaticon.com/512/1140/1140214.png"
					alt="coins"
					width="30"
					height="30">
			</td>

			<td>
				10 <img src="https://cdn-icons-png.flaticon.com/512/1140/1140214.png"
					alt="coins"
					width="30"
					height="30">
			</td>

			<td>
				10 <img src="https://cdn-icons-png.flaticon.com/512/1140/1140214.png"
					alt="coins"
					width="30"
					height="30">
			</td>
		</tr>

		<tr>
			<td> <br> </td>

			<td> <br> </td>

			<td> <br> </td>

			<td> <br> </td>
		</tr>

		<tr>
			<td>
				<img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f34c.png"
					 alt="banana"
					 width="100"
					 height="100">
			</td>

			<td>
				<img src="https://png.pngtree.com/png-vector/20231017/ourmid/pngtree-fresh-apple-fruit-red-png-image_10203073.png"
					 alt="apple"
					 width="100"
					 height="100">
			</td>

			<td>
				<img src="https://i.pinimg.com/originals/9b/b2/71/9bb2715bc8bfdb446f2b9f4a951440e6.png"
					 alt="strawberry"
					 width="100"
					 height="100">
			</td>

			<td>
				<img src="https://png.pngtree.com/png-clipart/20231001/original/pngtree-fruit-fresh-tomato-png-image_13024999.png"
					 alt="tomato"
					 width="100"
					 height="100">
			</td>

		</tr>

		<tr>
			<td>
				10 <img src="https://cdn-icons-png.flaticon.com/512/1140/1140214.png"
					alt="coins"
					width="30"
					height="30">
			</td>

			<td>
				10 <img src="https://cdn-icons-png.flaticon.com/512/1140/1140214.png"
					alt="coins"
					width="30"
					height="30">
			</td>

			<td>
				10 <img src="https://cdn-icons-png.flaticon.com/512/1140/1140214.png"
					alt="coins"
					width="30"
					height="30">
			</td>

			<td>
				10 <img src="https://cdn-icons-png.flaticon.com/512/1140/1140214.png"
					alt="coins"
					width="30"
					height="30">
			</td>
		</tr>

		<tr>
			<td> <br> </td>

			<td> <br> </td>

			<td> <br> </td>

			<td> <br> </td>
		</tr>

	</table>
		
</body>


@code {

}
