

header {
    text-align: center;
    margin-bottom: 40px;
}

    header h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        color: #ffffff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        margin: 10px 0;
     
    }

    header h2 {
        font-size: 2rem;
        color: #ffffff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        margin: 5px 0;
    }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*handles the different steps that are mentioned on home*/
div.step {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
 
}
    div.step h3 {
        font-size: 1.8rem;
        color: floralwhite;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        margin-bottom: 10px;
    }

    div.step p {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #e0e0e0;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }

    /*the message on the bottom part of the screen*/
div.message {
    text-align: center;
    margin-top: 20px;
}

    div.message p {
        font-style: italic;
        font-size: 1.3rem;
        color: #ffffff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

 
