@page "/"
@page "/home"
@using BuddyFitProject.Data.Models
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BuddyFitProject.Data.BuddyFitDbContext> DbFactory
@inject NavigationManager navigationManager
@inject IHttpContextAccessor HttpContextAccessor
@inject Services.UserService UserService
@inject Services.UserStatisticsService UserStatisticsService
@inject Services.ExerciseService ExerciseService
@rendermode InteractiveServer


<head>
 <PageTitle>Home</PageTitle>
</head>

<body>

    <!--home screen-->
        <header>
            <h1>Welcome to BuddyFit!</h1>
            <br />
            <h2>How to be fit with <strong>BuddyFit</strong>?</h2>
        </header>

        <main>
            <div class="step">
                <h3>STEP 1: REGISTER</h3>
                <p>Make an account</p>
            </div>
            <div class="step">
                <h3>STEP 2: START</h3>
                <p>Tell us about yourself and select a fit buddy to accompany you on your fit journey</p>
            </div>
            <div class="step">
                <h3>STEP 3: GO</h3>
                <p>
                    Work out! Log your exercises after each workout session in order to collect coins.<br />
                    These coins will be used to keep your pet happy. If you don't keep your pet happy, it will be very sad :(
                </p>
            </div>
            <div class="message">
                <p>That's it! Have fun and stay fit ;)</p>
            </div>
        </main>
    

    
</body>

@code {
    private Users? user;

    // The boolean LoggedIn is added for later so we can put a different home screen for users who have already logged in
    private bool LoggedIn = false;

    protected override async void OnInitialized()
    {
        await base.OnInitializedAsync();

        var httpContext = HttpContextAccessor.HttpContext;

        if (httpContext?.User.Identity?.IsAuthenticated == true)
        {
            // Extract user ID from claims
            var userIdClaim = httpContext.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);

            if (userIdClaim != null && int.TryParse(userIdClaim.Value, out int loggedInUserId))
            {
                user = UserService.GetUserById(loggedInUserId);
                LoggedIn = true; 
             
            }
        }
    }
}



