@page "/"
@page "/home"

<PageTitle>Home</PageTitle>
<head>
    <link href="Session.razor.css" rel="stylesheet" />
  
</head>

<body>
    <header>
        <h1>Welcome to BuddyFit!</h1>
        <br />
        <h2>How to be fit with <strong>BuddyFit</strong>?</h2>
    </header>

    <main>
        <div class="step">
            <h3>STEP 1: REGISTER</h3>
            <p>Make an account</p>
        </div>
        <div class="step">
            <h3>STEP 2: START</h3>
            <p>Tell us about yourself and select a fit buddy to accompany you on your fit journey</p>
        </div>
        <div class="step">
            <h3>STEP 3: GO</h3>
            <p>
                Work out! Log your exercises after each workout session in order to collect coins.<br />
                These coins will be used to keep your pet happy. If you don't keep your pet happy, it will be very sad :(
            </p>
        </div>
        <div class="final-message">
            <p>That's it! Have fun and stay fit ;)</p>
        </div>
    </main>
</body>




