@page "/"
@page "/home"

<PageTitle>Home</PageTitle>

<h1>Welcome to BuddyFit!</h1>
<br />
<h2>How to be fit with <strong>BuddyFit</strong>?:</h2>

<div>
	<label>STEP 1: REGISTER</label> 
	<p>Make an account</p>
</div>
<div>
	<label>STEP 2: START</label>
	<p>Tell us about yourself and select a fit buddy to accompany you on your fit journey</p>
</div>
<div>
	<label>STEP 3: GO</label>
	<p>Work out! Log your excercises after each workoutsession in order to collect coins. 
		These coins will be used to keep your pet happy. If you don't keep your pet happy, it will be very sad:(</p>
</div>
<br />
<div>
	<p>That's it! Have fun and stay fit ;)</p>
</div>