@page "/Login"
@using Microsoft.EntityFrameworkCore
@using BuddyFitProject.Models
@inject IDbContextFactory<BuddyFitProject.Data.BuddyFitProjectContext> DbFactory
@inject NavigationManager NavigationManager﻿

<h3>Login</h3>

@code {

}
