@page "/Minigames2"
<h3>Minigames2</h3>
@inject Services.UserService UserService
@inject Services.ItemService ItemService
@inject Services.PetService PetService

{
<!--<p>hello @pet.Type</p>
    <div class="game-container" @onclick="HeightScore">

        <div class="score"> Score: @Score </div>
    </div>

    @if (GameEnded)
    {
        <button class="start-button" @onclick="ResetGame"> Reset Game </button>
    }
    else
    {
        <button class="start-button" @onclick="StartGame" disabled="@IsGameRunning"> Start Game </button>
    } -->
} 

@code {

}
