@page "/MyPet"

<head>
	<PageTitle> Pet </PageTitle>
</head>

<h1 class="h">Pet</h1>

<body style="background-color:#ffcc99;">
	<div> 
		<a href ="Store"> 
			Go to Store 
		</a> 
	</div>

	<div>
		<a href="Costumes">
			Go to Costumes
		</a>
	</div>

	<div>
		<a href="Food">
			Go to Food
		</a>
	</div>

	<br />

	<svg width="1200" height="500" xmlns="MyPet">
		<polygon points="700, 125, 550, 375, 850, 375" fill="#b35900" stroke="black" stroke-linejoin="round" stroke-width="15" />

	</svg>

</body>


@code {

}
