@page "/pet"
@using BuddyFitProject.Components.Pages.Account

<head>
	<PageTitle> Pet </PageTitle>
</head>
<body style="background-color:#ffcc99;">
	<div>
		<h1 class="h">Pet</h1>
		<div class="bars">
			<div class="bar">
				Health
				<div/>
			</div>
			<div class="bar">
				Food
				<div/>
			</div>
			<div class="bar">
				Beauty
				<div/>
			</div>
		</div>
	</div>

	<div>
		<a href="Store">
			Go to Store
		</a>
	</div>

	<div>
		<a href="Costumes">
			Go to Costumes
		</a>
	</div>

	<div>
		<a href="Food">
			Go to Food
		</a>
	</div>

	<br />

	<svg>

	</svg>
</body>


@code {
	private int Width { get; set; } = 200;
}
