@page "/pet"

<head>
	<PageTitle>Pet</PageTitle>
  
        <link href="MyPet.razor.css" rel="stylesheet" />
   
</head>


<div class="coin">$</div>
<div class="coin-label">1000</div>

<div class="level-coin">lvl</div>
<div class="level-label">10</div>


<h1 class="h">Pet</h1>

<body>
    

	<svg width="600" height="200" xmlns="https://localhost:7068/pets"> </svg>
		<img src="bunny.png"
		     aria-hidden = "true"
			 width="400">
		<img src="bear.png"
			 aria-hidden = "false"
			 width="400">
		<img src="cat.png"
			 aria-hidden = "true"
			 width="400"> 
	<svg width="1200" height="500" xmlns="MyPet">
		<polygon points="700, 125, 550, 375, 850, 375" fill="#b35900" stroke="black" stroke-linejoin="round" stroke-width="15" />

	</svg>


</body>


@code {

}
