@page "/Pets"

<head>
	<PageTitle> Pets </PageTitle>
</head>

<h1 class="h">Pets</h1>

<body style="background-color:#ffcc99;">
	<div> 
		<a href ="https://localhost:7068/Store"> 
			Go to Store 
		</a> 
	</div>

	<div>
		<a href="https://localhost:7068/costumes">
			Go to Costumes
		</a>
	</div>

	<div>
		<a href="https://localhost:7068/Food">
			Go to Food
		</a>
	</div>

	<br />

	<svg width="600" height="200" xmlns="https://localhost:7068/pets">
		<img src="bunny.png"
		     aria-hidden = "true"
			 width="400">
		<img src="bear.png"
			 aria-hidden = "false"
			 width="400">
		<img src="cat.png"
			 aria-hidden = "true"
			 width="400"> 
	</svg>

</body>


@code {
	
}
