@page "/Pets"

<head>
	<PageTitle> Pets </PageTitle>
</head>

<h1 class="h">Pets</h1>

<body style="background-color:#ffcc99;">
	<div> 
		<a href ="https://localhost:7068/Store"> 
			Go to Store 
		</a> 
	</div>

	<div>
		<a href="https://localhost:7068/costumes">
			Go to Costumes
		</a>
	</div>

	<div>
		<a href="https://localhost:7068/Food">
			Go to Food
		</a>
	</div>

	<br />

	<svg width="1200" height="500" xmlns="https://localhost:7068/pets">
		<polygon points="700, 125, 550, 375, 850, 375" fill="#b35900" stroke="black" stroke-linejoin="round" stroke-width="15" />

	</svg>

</body>


@code {

}
