@page "/register"
@using Microsoft.EntityFrameworkCore
@using BuddyFitProject.Data.Models
@using BuddyFitProject.Data;
@using BuddyFitProject.Components.Services
@inject UserService UserService
@inject NavigationManager navigationManager

<head>
  
    <PageTitle>Create</PageTitle>
</head>

<body>
    <header>
        <h1>Register</h1>
    </header>

    <main>
        <EditForm method="post" Model="User" OnValidSubmit="AddUser" FormName="create">
            <div class="input">
                <label for="UserName" class="l">Username:</label>
                <InputText id="UserName" @bind-Value="User.Username" class="i" />
            </div>
            <br />
            <div class="input">
                <label for="Password" class="l">Password:</label>
                <InputText style="-webkit-text-security: disc; text-security: disc;" id="Password" @bind-Value="User.Password" class="i" />
            </div>
            <br />
            <div class="input">
                <label for="input" class="l">Email:</label>
                <InputText id="Email" @bind-Value="User.Email" class="i" />
            </div>
           <br />
            <div class="button-group">
                <button type="submit" class="btn btn-primary">Create</button>
                <a href="login" class="btn btn-secondary">Already have an account?</a>
            </div>

        </EditForm>
        <br />
        
        <div class="message">
            <p>@errorMessage</p>
        </div>

    </main>
</body>


@code {
    [SupplyParameterFromForm]
    private Users User { get; set; } = new();
    private string errorMessage;

    private void AddUser()
    {
        if (!UserService.UserExists(User.Username, User.Email))
        {
            User.Register_moment = DateTime.Now;
            User.Start_condition = "new";
            User.Gender = "new";
            User.Resetcode = "12345678";
            UserService.AddUser(User);
            navigationManager.NavigateTo("/login");
        }
        errorMessage = "User already exists";
    }
}
