@page "/Register2"
@using Microsoft.EntityFrameworkCore
@using BuddyFitProject.Models
@inject IDbContextFactory<BuddyFitProject.Data.BuddyFitProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1 class="h"> Your Own Account</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <EditForm method="post" Model="User" OnValidSubmit="AddUser" FormName="create" Enhance>
            <div class="mb-2">
                <label for="Username" class="l">Username:</label>
                <InputText id="Username" @bind-Value="User.Username" class="i" />
            </div>
            <div class="mb-2">
                <label for="Email" class="l">Email:</label>
                <InputText id="Email" @bind-Value="User.Email" class="i" />
            </div>
            <div class="mb-2">
                <label for="Password" class="l">Password:</label>
                <InputText id="Password" @bind-Value="User.Password" class="i" />
            </div>
            <div class="mb-2">
                <label for="Gender" class="l">Gender:</label>
                <InputText id="Gender" @bind-Value="User.Gender" class="i" />
            </div>
            <button type="submit" class="btn2">Create</button>
        </EditForm>
    </div>
</div>

<img class="absolute" src="RegisterPage.png">

<hr class="hr" />

@code {
    [SupplyParameterFromForm]
    private Users User { get; set; } = new();

    private async Task AddUser()
    {
        using var context = DbFactory.CreateDbContext();
        context.Users.Add(User);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/login");
    }

}