@page "/session"
@using Microsoft.EntityFrameworkCore
@using BuddyFitProject.Data;
@using BuddyFitProject.Data.Models
@using BuddyFitProject.Components.Services
@inject WorkoutSessionService WorkoutService
@inject UserService UserService
@inject NavigationManager NavigationManager
@inject BuddyFitDbContext appDbContext

<PageTitle>Session</PageTitle>

<h1>Workout</h1>
<p>Finished working out? Log your session!</p>

<hr />
<p> I have done the following workout for [] minutes</p>

<a href="logout">
	<button>Logout</button>
</a>

code {

} 


