@page "/Session"
@using Microsoft.EntityFrameworkCore
@using BuddyFitProject.Data.Models
@inject IDbContextFactory<BuddyFitProject.Data.BuddyFitDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Session</PageTitle>

<h1>Workout</h1>
<p>Finished working out? Log your session!</p>

<hr/>
<p> I have done the following workout for [] minutes</p>
<div class="row">
	<div class="col-md-4">
		<EditForm method ="post" Model="WorkoutSession" OnValidSubmit="LogWorkout" Enhance>
			<!--is hier een DataAnnotationsValidator nodig?-->
			@* <div class="mb-3">
				<label for="pushup">Pushups:</label>
				<InputText id="pushup" @bind-Value="WorkoutSession.Name" class="form-control"></InputText>
			</div>
			<div class="mb-3">
				<label for="situp">Situps:</label>
				<InputText id="situps" @bind-Value="WorkoutSession.Situps" class="form-control"></InputText>
			</div>
			<div class="mb-3">
				<label for="jumpingjacks">Jumping Jacks:</label>
				<InputText id="jumpingjacks" @bind-Value="WorkoutSession.JumpingJacks" class="form-control"></InputText>
			</div>	
			<div class="mb-3">
				<label for="squats">Squats:</label>
				<InputText id="squats" @bind-Value="WorkoutSession.Squats" class="form-control"></InputText>
			</div>
			<div class="mb-3">
				<label for="running">Running:</label>
				<InputText id="running" @bind-Value="WorkoutSession.Running" class="form-control"></InputText>
			</div>
			<div class="mb-3">
				<label for="plank">Plank:</label>
				<InputText id="plank" @bind-Value="WorkoutSession.Plank" class="form-control"></InputText>
			</div> *@
			<button type="submit" class="btn btn-primary">I finihsed working out!</button>
		</EditForm>
	</div>
</div>


@code{
	[SupplyParameterFromForm]
	private WorkoutSessions WorkoutSession { get; set; } = new();

	private async Task LogWorkout()
	{
		WorkoutSession.Timestamp = DateTime.Now;
		using var context = DbFactory.CreateDbContext();
		context.WorkoutSessions.Add(WorkoutSession);
		await context.SaveChangesAsync();
	}
}



