@page "/session"
using Microsoft.EntityFrameworkCore
@using BuddyFitProject.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BuddyFitProject.Data.BuddyFitProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Session</PageTitle>

<h1>Workout</h1>
<p>Finished working out? Log your session!</p>

<hr/>

<div class="row">
	<div class="col-md-4">
		<EditForm method ="post" Model="WorkSesh" OnValidSubmit="LogWorkout" Enhance>
			<!--is hier een DataAnnotationsValidator nodig?-->
			<div class="mb-3">
				<label for="pushup">Pushups:</label>
				<InputText id="pushup" @bind-Value="WorkSesh.Pushups" class="form-control"></InputText>
			</div>
			<div class="mb-3">
				<label for="situp">Situps:</label>
				<InputText id="situps" @bind-Value="WorkSesh.Situps" class="form-control"></InputText>
			</div>
			<div class="mb-3">
				<label for="jumpingjacks">Jumping Jacks:</label>
				<InputText id="jumpingjacks" @bind-Value="WorkSesh.JumpingJacks" class="form-control"></InputText>
			</div>	
			<div class="mb-3">
				<label for="squats">Squats:</label>
				<InputText id="squats" @bind-Value="WorkSesh.Squats" class="form-control"></InputText>
			</div>
			<div class="mb-3">
				<label for="running">Running:</label>
				<InputText id="running" @bind-Value="WorkSesh.Running" class="form-control"></InputText>
			</div>
			<div class="mb-3">
				<label for="plank">Plank:</label>
				<InputText id="plank" @bind-Value="WorkSesh.Plank" class="form-control"></InputText>
			</div>
			<!--TODO: LoggedAt Datetime wanneer is iets eigenljk gelogd door user-->
				<button type="submit" class="btn btn-primary">I finihsed working out!</button>
		</EditForm>
	</div>
</div>


@code{
	[SupplyParameterFromForm]
	private Workout WorkSesh { get; set; } = new();
	
	private async Task LogWorkout()
	{
		using var context = DbFactory.CreateDbContext();
		context.Workout.Add(WorkSesh);
		await context.SaveChangesAsync();
	}
}



