
body {
    color: white;
}

table {
    color: white;
}


h1 {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0px 20px 0px 0px;
}
h4 {
    font-size: 1.5rem;
    color: floralwhite;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

  

div.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    justify-content: center;
}


.bar-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
}
.bar-container {
    display: flex;
    align-items: center;
}
.bar-text {
    flex: 1;
    font-size: 1.5rem;
    color: floralwhite;
    text-align: right;
    padding-right: 20px;

}
.bar-minutes {
    flex: 1;
    font-size: 1.5rem;
    color: floralwhite;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
}
.bars {
    flex: 4;
    display: flex;
  
    border-radius: 5px;
    overflow: hidden;
    height: 50px;
    align-items: center;
   
}
.bar {
    height: 100%;
    background: hotpink;
    border-radius: 5px;
}


.coin {
    position: absolute;
    top: 10px;
    right: 200px;
    width: 40px;
    height: 40px;
    background-color: gold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Coin label styling */
.coin-label {
    position: absolute;
    top: 15px;
    right: 120px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Level Coin styling */
.level-coin {
    position: absolute;
    top: 60px;
    right: 200px;
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Level label styling */
.level-label {
    position: absolute;
    top: 65px;
    right: 120px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
