@page "/Stats"
@using BuddyFitProject.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BuddyFitProject.Data.BuddyFitProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Statistics</PageTitle>

<h1>Workout History</h1>
<p>Check your previous workouts here</p>

<table class="table">
	<thead>
		<tr>Workouts</tr>
	</thead>
	<tbody>
		@foreach(var w in workouts)
		{

		}
	</tbody>
	</table>

	@code {
	private List<WorkoutSession> workouts = new();

	protected async Task OnInitialized()
	{
		using var context = DbFactory.CreateDbContext();
	}
}
