h1 {
    font-size: 4rem;
    margin-top: 5px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 1.5rem;
    position: absolute;
    left: 247px;
    top: 50px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
p {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #fdfdfd;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.top-right-coins {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.choosestore{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.coin {
    position: absolute;
    top: 10px;
    right: 200px;
    width: 40px;
    height: 40px;
    background-color: gold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

 /*Coin label styling*/ 
.coin-label {
    position: absolute;
    top: 15px;
    right: 120px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Level Coin styling */
.level-coin {
    position: absolute;
    top: 60px;
    right: 200px;
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

 /*Level label styling */
.level-label {
    position: absolute;
    top: 65px;
    right: 120px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
/* hier moet uiteindelijk ipv 1000 en 10 coinsamount en Level moeten staan zoals in workoutscherm*/

