@page "/Store"

<head>
	<PageTitle> Store </PageTitle>

	<h1 class="h">Store </h1>
</head>

<body style="background-color:#ffcc99;">

	<div>
		<a href="Food">
			Go to Food
		</a>
	</div>

	<div>
		<a href="Costumes">
			Go to Costumes
		</a>
	</div>

	<div>
		<a href="MyPet">
			Go to Pets
		</a>
	</div>

	<div>
		<a href="Home">
			Go to Homepage
		</a>
	</div>

	<br />

	<ul>
		<li> Dragon outfit</li>
		<li> Fire outfit </li>
		<li> Water outfit</li>
		<li> Earth outfit</li>
	</ul>
		
	<ul>
		<li> Bananas</li>
		<li> Apples</li>
		<li> Pears</li>
		<li> Cucumbers </li>
	</ul>

	<div> Inventory: </div>


</body>

@code {

}
