@page "/Store"

<head>
	<PageTitle> Store </PageTitle>

	<h1 class="h">Store </h1>
</head>

<style>
	body {
		margin: 0;
		font-family: Arial, sans-serif;
		background: linear-gradient(to bottom, purple, blue);
		color: #333;
		padding: 20px;
		position: relative;
	}

    .coin {
        position: absolute;
        top: 10px;
        right: 200px;
        width: 40px;
        height: 40px;
        background-color: gold;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #fff;
        font-size: 18px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    /* Coin label styling */
    .coin-label {
        position: absolute;
        top: 15px;
        right: 120px;
        font-size: 22px;
        font-weight: bold;
        text-align: left;
        color: #fff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    /* Level Coin styling */
    .level-coin {
        position: absolute;
        top: 60px;
        right: 200px;
        width: 40px;
        height: 40px;
        background-color: green;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #fff;
        font-size: 18px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    /* Level label styling */
    .level-label {
        position: absolute;
        top: 65px;
        right: 120px;
        font-size: 22px;
        font-weight: bold;
        text-align: left;
        color: #fff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
    /* hier moet uiteindelijk ipv 1000 en 10 coinsamount en Level moeten staan zoals in workoutscherm*/

</style>

<div class="coin">$</div>
<div class="coin-label">1000</div>

<div class="level-coin">lvl</div>
<div class="level-label">10</div>




<body style="background-color:#ffcc99;">

	<div>
		<a href="Food">
			Go to Food
		</a>
	</div>

	<div>
		<a href="Costumes">
			Go to Costumes
		</a>
	</div>

	<div>
		<a href="MyPet">
			Go to Pets
		</a>
	</div>

	<div>
		<a href="Home">
			Go to Homepage
		</a>
	</div>

	<br />

	<ul>
		<li> Dragon outfit</li>
		<li> Fire outfit </li>
		<li> Water outfit</li>
		<li> Earth outfit</li>
	</ul>
		
	<ul>
		<li> Bananas</li>
		<li> Apples</li>
		<li> Pears</li>
		<li> Cucumbers </li>
	</ul>

	<div> Inventory: </div>


</body>



@code {

}
