<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BuddyFitProject.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    @* <HeadOutlet @rendermode= "InteractiveAuto" /> *@
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>
        function checkDivScrollEnd(elementId, functionName, dotnetReference) {
            var div = document.getElementById(elementId);

            div.addEventListener('scroll', function() 
            {
                var isScrolledToBottom = div.scrollHeight - div.clientHeight <= div.scrollTop + 1;

                if (isScrolledToBottom)
                {
                    dotnet.Reference.invokeMethodAsync(functionName);
                }
            });
        }

    </script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path switch
    {
        var x when x.StartsWithSegments("/login") => null,
        _ => InteractiveServer
    };
}
