<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BuddyFitProject.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    @* <script> *@
    @*     function checkDivScrollEnd(elementId, functionName, dotnetReference) { *@
    @*         var div = document.getElementById(elementId); *@

    @*         div.addEventListener('scroll', function()  *@
    @*         { *@
    @*             var isScrolledToBottom = div.scrollHeight - div.clientHeight <= div.scrollTop + 1; *@

    @*             if (isScrolledToBottom) *@
    @*             { *@
    @*                 dotnet.Reference.invokeMethodAsync(functionName); *@
    @*             } *@
    @*         }); *@
    @*     } *@

    @* </script> *@
    <script>
        function checkDivScrollEnd(divId, callbackMethodName, dotnetRef) {
            const div = document.getElementById(divId);

            div.addEventListener('scroll', function() 
            {
                if (div.scrollHeight - div.scrollTop <= div.ClientHeight + 1)
                {
                    dotnet.Ref.invokeMethodAsync(callbackMethodName);
                }
            });
        }

    </script>
</body>

</html>
