@page "/deletingaccount"
@using BuddyFitProject.Data.Models
@using BuddyFitProject.Components.Services;
@inject UserService UserService
@inject NavigationManager navigationManager

<head>
	<PageTitle> DeleteAccount </PageTitle>
	<link href="DeletingAccount.razor.css" rel="stylesheet" />
</head>

<body>
	<header>
		<h1>Delete your account</h1>
	</header>
<br />
	<main>
	
			<p>Are you sure? Your pet will miss you!</p>
		<EditForm FormName="DeleteYourUser" Model="@User" OnValidSubmit="DeleteUser">
			<div class="input">
				<label for="Username">Username:</label>
				<InputText required @bind-Value="User.Username" />
			</div>
			<div class="input">
				<label for="Password">Password:</label>
				<InputText required style="-webkit-text-security: disc; text-security: disc;" @bind-Value="User.Password" />
			</div>
			<div class="input">
				<label for="Email">E-mail:</label>
				<InputText required @bind-Value="User.Email" />
			</div>
			<br />
			<span> @errorMessage </span>
			<button class="btn btn-primary" type="submit">Delete</button>
		</EditForm>
	</main>
</body>

@code {
	[SupplyParameterFromForm]
	private Users User { get; set; } = new();

	private string errorMessage = string.Empty;

	private async Task DeleteUser()
	{
		bool isUserValid = UserService.ValidateUserByEmaiUsernameAndPassword(User.Username, User.Email, User.Password);

		if (!isUserValid)
		{
			errorMessage = "Your username, email or password is invalid.";
			return;
		}
		else
		{
			UserService.DeleteUser(User);
		}

		navigationManager.NavigateTo("/login");

	}

}
