@page "/password"
@using BuddyFitProject.Components.Services
@using BuddyFitProject.Data.Models
@inject UserService UserService
@inject EmailService EmailService
@inject NavigationManager NavigationManager
@inject ValidateUserService ResetPasswordService



<head>
    <PageTitle> Reset Password </PageTitle>
    <link href="Password.razor.css" rel="stylesheet" />

</head>

<body>
    <header>
        <h1>Forgot your password?</h1>
        <hr />
        <h2>An e-mail will be sent to reset your password</h2>
    </header>
    <main>
        <!--Form where the user can fill in their username and email:-->
        <EditForm FormName="SendEmail" Model="@User" OnValidSubmit="SendEmail">
          <div class="input">
                <label class="l2">Username:</label>
                <InputText type="text" class="l2" @bind-Value="User.Username" />
          </div>
          <hr />
            <div class="input">
                <label class="l2">Email:</label>
                <InputText type="email" class="l2" @bind-Value="User.Email" />
            </div>
            <hr />
            <div class="button-group">
                <button type="submit" class="btn btn-primary">Send</button>
                <a href="resetPassword /{username}/{email}" class="btn btn-secondary">Received your reset code?</a>
            </div>
        </EditForm>


        @if (!string.IsNullOrEmpty(ReturnMessage))
        {
            <div class="message">
                <p class="alert alert-info">@ReturnMessage</p>
            </div>
        }

    </main>
</body>



@code
{
    [SupplyParameterFromForm]
    private Users User { get; set; } = new(); //Holds the information for the SendEmail form
    private string ReturnMessage { get; set; } = string.Empty;

    private async Task SendEmail() //Handles the logic to send the email:
    {
        string resetcode = ResetPasswordService.SetResetCode(User.Username, User.Email);

        if (UserService.ValidateUserByEmailAndUsername(User.Username, User.Email))
        {
            await EmailService.SendEmailResetPassword(User.Email, "Password Reset Code", $"Your reset code is:", resetcode);
            NavigationManager.NavigateTo($"/resetPassword/{User.Username}/{User.Email}");
        }
        else
        {
            ReturnMessage = $"Hello, {User.Username}! Your email and/or your username is wrong."; //When your email or password, or both, are wrong
        }
    }
}

