@page "/password"
@using BuddyFitProject.Data.Models

<h3>Fill in you username and email; an email will be send so you can reset your password:</h3>

<EditForm FormName="SendEmail" Model="@User" OnValidSubmit="SendEmail">
    <label class="l2">Username:</label>
    <input type="text" class="l2" />
    <hr />
    <label class="l2">Email:</label>
    <input type="email" class="l2" />
    <hr />
    <button class="b2" type="submit">Send</button>
</EditForm>

@code {

    private Users User = new Users();
    
    private async Task SendEmail()
    {
        NavigationManager.NavigateTo("/resetPassword");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;
}