@page "/password"
@using BuddyFitProject.Components.Services
@using BuddyFitProject.Data.Models
@inject UserService UserService
@inject EmailService EmailService
@inject NavigationManager NavigationManager

<h3>Fill in you username and email; an email will be send so you can reset your password:</h3>

<EditForm FormName="SendEmail" Model="@User" OnValidSubmit="SendEmail">
	<label class="l2">Username:</label>
	<InputText type="text" class="l2" @bind-Value="User.Username" />
	<hr />
	<label class="l2">Email:</label>
	<InputText type="email" class="l2" @bind-Value="User.Email" />
	<hr />
	<button class="b2" type="submit">Send</button>
</EditForm>

@if (!string.IsNullOrEmpty(ReturnMessage))
{
	<p class="alert alert-info">@ReturnMessage</p>
}

@code
{
	[SupplyParameterFromForm]
	private Users User { get; set; } = new();
	private string ReturnMessage { get; set; } = string.Empty;

	private async Task SendEmail()
	{
		if (UserService.ValidateUserByEmailAndUsername(User.Username, User.Email))
		{
			await EmailService.SendEmailAsync(User.Email, "Password Reset Code", $"Your reset code is:");
			NavigationManager.NavigateTo($"/resetPassword/{User.Username}/{User.Email}");
		}
		else
		{
			ReturnMessage = $"Hello, {User.Username}! You don't exist: your email is wrong or your username. Or both!";
		}
	}
}