@page "/resetPassword/{username}/{email}"
@using BuddyFitProject.Data.Models
@inject NavigationManager NavigationManager

<head>
    <PageTitle> Reset Password </PageTitle>
    <link href="ResetPassword.razor.css" rel="stylesheet" />

</head>
<body>
    <header> 
        <h1>Fill in the code from your email to reset your password</h1>
    </header>

    <main>
        <EditForm Model="@User" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="input"> 
                <label for="code" class="label">Reset Code</label>
                <InputNumber id="code" class="form-control" @bind-Value="User.Resetcode" />
            </div>
            <hr />
            <div class="input">
                <label for="password" class="label">New Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="User.Password" />
            </div>

            <button type="submit" class="knop btn btn-primary">Reset Password</button>
        </EditForm>
    </main>
   
</body>


@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public string Email { get; set; }

    private Users User = new Users();

    private void HandleValidSubmit()
    {
        // Navigate to the reset password page
        NavigationManager.NavigateTo("/login");
    }
}