@page "/resetPassword/{username}/{email}"
@using BuddyFitProject.Data.Models
@inject NavigationManager NavigationManager

<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: linear-gradient(to bottom, purple, blue);
        color: #333;
        padding: 20px;
        position: relative;
    }

    .coin {
        position: absolute;
        top: 10px;
        right: 200px;
        width: 40px;
        height: 40px;
        background-color: gold;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #fff;
        font-size: 18px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    /* Coin label styling */
    .coin-label {
        position: absolute;
        top: 15px;
        right: 120px;
        font-size: 22px;
        font-weight: bold;
        text-align: left;
        color: #fff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    /* Level Coin styling */
    .level-coin {
        position: absolute;
        top: 60px;
        right: 200px;
        width: 40px;
        height: 40px;
        background-color: green;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #fff;
        font-size: 18px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    /* Level label styling */
    .level-label {
        position: absolute;
        top: 65px;
        right: 120px;
        font-size: 22px;
        font-weight: bold;
        text-align: left;
        color: #fff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
    /* hier moet uiteindelijk ipv 1000 en 10 coinsamount en Level moeten staan zoals in workoutscherm*/

</style>


<h3>Fill in the code from your email to reset your password:</h3>

<h1 class="l2">Reset Password</h1>

<EditForm Model="@User" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="code">Reset Code</label>
        <InputNumber id="code" class="form-control" @bind-Value="User.Resetcode" />
    </div>

    <div>
        <label for="password">New Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="User.Password" />
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</EditForm>

@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public string Email { get; set; }

    private Users User = new Users();

    private void HandleValidSubmit()
    {
        // Navigate to the reset password page
        NavigationManager.NavigateTo("/login");
    }
}