@page "/resetPassword/{username}/{email}"
@using BuddyFitProject.Data.Models
@inject NavigationManager NavigationManager

<h3>Fill in the code from your email to reset your password:</h3>

<h1 class="l2">Reset Password</h1>

<EditForm Model="@User" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="code">Reset Code</label>
        <InputNumber id="code" class="form-control" @bind-Value="User.Resetcode" />
    </div>

    <div>
        <label for="password">New Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="User.Password" />
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</EditForm>

@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public string Email { get; set; }

    private Users User = new Users();

    private void HandleValidSubmit()
    {
        // Navigate to the reset password page
        NavigationManager.NavigateTo("/login");
    }
}