@page "/validateemail"
@using BuddyFitProject.Data.Models

@* <h3>ValidateEmail</h3> *@

@* <label>Fill in the code we send you in your mail:</label> *@
@* <InputText @bind-Value="User.Resetcode" /> *@

@* @code { *@
@* 	[SupplyParameterFromForm] *@
@* 	private Users User { get; set; } = new(); *@
@* } *@
