@page "/validateemail/{email}"
@using BuddyFitProject.Data.Models
@using BuddyFitProject.Components.Services
@inject NavigationManager NavigationManager
@inject ValidateUserService ValidateUserService

<h3>ValidateEmail</h3>

<EditForm FormName="ValidationEmail" Model="@User" OnValidSubmit="Validate">
	<label>Fill in the code we send you in your mail:</label>
	<InputText @bind-Value="User.Validatecode" />
	<button type="submit">Send</button>
</EditForm>

@if (!string.IsNullOrEmpty(ReturnMessage))
{
	<p class="alert alert-info">@ReturnMessage</p>
}

@code {

	[Parameter]
	public string Email { get; set; } // Define the Email route parameter.

	[SupplyParameterFromForm]
	private Users User { get; set; } = new();

	private string ReturnMessage { get; set; } = string.Empty;

	public void Validate()
	{
		if (ValidateUserService.CheckValidateCode(Email, User.Validatecode))
		{
			NavigationManager.NavigateTo("/userinfo");
		}
		else
		{
			ReturnMessage = "Validatecode is wrong.";
			return;
		}
	}
}
